<h1>show Tshirt</h1>
<p> <%= @tshirt.color %></p>
<p><%= @tshirt.size %> </p>
<p> <%= @tshirt.character %> </p>
<p> <%= @tshirt.img_url %> </p>

<p><%= link_to "🗑", tshirt_path(@tshirt), method: :delete %> </p>
<p><%= link_to "leave a comment", tshirt_reviews_path %> </p>
