<% if Current.user %>
    Logged in as: <%= Current.user.email %><br>
    <%# <%= link_to "edit password" editpassword_path %> 
    <%= button_to "logout", logout_path, method: :delete %>
    <% else %>
    <%= link_to 'sign up', signup_path %>
    or
    <%= link_to "login", signin_path %>
<% end %>

<ul>
    <% @tshirts.each do |tshirt| %>
        <li><%=  tshirt.color %></li><br>
        <li><%= tshirt.character %></li>
        <li><%= tshirt.size %></li>
        <li><img src = "<%= tshirt.img_url %>"></li>
    <% end %>
</ul>