<% if Current.user %>
    Logged in as: <%= Current.user.email %><br>
    <%# <%= link_to "edit password" editpassword_path %> 
    <%= button_to "logout", logout_path, method: :delete %>
    <% else %>
    <%= link_to 'sign up', signup_path %>
    or
    <%= link_to "login", signin_path %>
<% end %>

<ul>
    <% @tshirts.each do |tshirt| %>
        <li><%=  tshirt.color %></li>
        <li><%= tshirt.character %></li>
        <li><%= tshirt.size %></li>
        <li><img src = "<%= tshirt.img_url %>"></li>
        <li>
            <%= link_to "🗑", destroy_tshirt_path(tshirt) , method: :delete %>  
            <%= link_to "add a review",review_path(review)  %>
        </li>
        <br>
    <% end %>
</ul>