<p class = "navbar-text float-right">
    <% if user_signed_in? %>
        Logged in as <strong><%= current_user.username %></strong>
        <%= link_to "Edit Profile", edit_user_registration_path, :class => "navbar-link" %> |
        <%= link_to "logout", destroy_user_session_path, method: :delete, :class => "navbar-link" %>   
    <% else %>
        <%= link_to "sign up", new_user_registration_path, :class => "navbar-link" %>  |
        <%= link_to "login", new_user_session_path, :class => "navbar-link" %>
    <% end %>
</p>