<% if alert %>
      <p class = "alert"><%= alert %></p>
<% end %>

<%= link_to "create a new t-shirt", new_tshirt_path, method: :new %>
<%= form_tag "/tshirt", method: "Get" do%>
    <%# <%= label_tag :color %> 
    <%= text_field_tag :color, params[:color] %>
    <%= submit_tag "filter" %>
<% end %>
<div class = "index-row">
<ul>
    <% @tshirts.each do |tshirt| %>
    <div class = "index-column">
        <li><img src = "<%= tshirt.img_url %>"></li>
        <li><%=  tshirt.color %></li>
        <li><%= tshirt.character %></li>
        <li><%= tshirt.size %></li>
        <li><%=  tshirt.reviews.count %> reviews | <%= link_to 'add a review',new_tshirt_review_path(tshirt) %></li>
        <li>
            <%= link_to "show t-shirt", tshirt_path(tshirt)%> 
        </li>
        <br>
    </div>
    <% end %>
</ul>
</div>