
<%= link_to "create a new t-shirt", new_tshirt_path, method: :new %>

<ul>
    <% @tshirts.each do |tshirt| %>
        <li><%=  tshirt.color %></li>
        <li><%= tshirt.character %></li>
        <li><%= tshirt.size %></li>
        <li><img src = "<%= tshirt.img_url %>"></li>
        <li><%=  tshirt.review.count %> reviews | <%= link_to 'add a review',new_tshirt_review_path(tshirt) %></li>
        <li>
            <%= link_to "show t-shirt", tshirt_path(tshirt)%> 
        </li>
        <br>
    <% end %>
</ul>