<p> <%= @tshirt.color %></p>
<p><%= @tshirt.size %> </p>
<p> <%= @tshirt.character %> </p>
<p><img src = "<%= @tshirt.img_url %>"</p>
<% if current_user &.admin? %>
    <%= button_to "🗑",@tshirt, method: :delete, class: "custom-link" %> | <%= link_to "edit", edit_tshirt_path(@tshirt), class: "custom-link" %> 
<% end %>
<%= render @tshirt.reviews %>




